.container{
  margin: 0;
  padding: 50px;
}
h1{
  font-family: sans-serif;
  color: #333333;
  text-align: center;
}

input{
  width: 100%;
  height: 60px;
  border: 2px solid #666666;
  font-size: 40px;
  text-align: center;
}

#users{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.user{
  margin: 25px 0;
  display: inline-block;
  width: 25%;
  text-align: center;
  img{
    width: 70%;
    border-radius: 100%;
    display: inline-block;
    filter: grayscale(80%);
    transition: .5s
  }
  img:hover, img:active{
    filter: grayscale(0%);
  }
  span{
    display: block
  }
  a{
    text-decoration: none;
    font-family: Arial;
    color: #333333;
  }
}
